.clients {
	position: relative;
	background-color: #fff;
	@include adaptiveValue('padding-top', 150, 40, 1);
	@include adaptiveValue('padding-bottom', 65, 44, 1);

	// .clients__slider

	&__slider {
		position: relative;
		background: #ffffff;
		border-radius: 3px;
		padding-bottom: 15px;
	}

	// .clients__title

	&__title {
		@include adaptiveValue('margin-bottom', 60, 25, 1);
	}

	// .clients__wrapper

	&__wrapper {
		position: relative;
	}

	// .clients__pagination

	&__pagination {
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		@include adaptiveValue('gap', 24, 10, 1);
	}
}

.clients-wrapper {
	display: inline-flex;
	align-items: flex-end;
	@include adaptiveValue('margin-bottom', 90, 40, 1);
}

.clients-slider {
	background: #ffffff;
	border-radius: 3px;
}

.clients-slide {
	width: auto;
	display: flex;

	// .clients-slide__img

	&__img {
		@include adaptiveValue('max-width', 360, 100, 1);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.clients-slider-buttons {
	@media (max-width: $mobile) {
		// display: none;
	}
}

.clients-slider-btn {
	svg.icon {
		width: 27px;
		@include adaptiveValue('height', 50, 15, 1);
		stroke: #000;
		fill: #000;
	}
	&::after {
		display: none;
	}
}

.clients-slider-buttons .swiper-button-next {
	right: -70px;
	top: 40%;
	@media (max-width: $mobile) {
		top: 50%;
		right: -45px;
	}
	@media (max-width: $mobileSmall) {
		top: 98%;
		right: 50px;
	}
}
.clients-slider-buttons .swiper-button-prev {
	left: -70px;
	top: 40%;
	transform: rotate(180deg);
	@media (max-width: $mobile) {
		top: 50%;
		left: -45px;
	}
	@media (max-width: $mobileSmall) {
		top: 98%;
		left: 50px;
	}
}

.clients__pagination .swiper-pagination-bullet {
	@include adaptiveValue('width', 15, 5, 1);
	@include adaptiveValue('height', 15, 5, 1);
	background-color: #6b6b6b;
	border-radius: 50%;
}
.clients__pagination .swiper-pagination-bullet-active {
	background-color: var(--color-main);
}
